
    

<!-- 
          <div class="progress-bar">
            <div class="progress-label">Profile</div>
            <div class="progress">
              <div class="progress-bar-fill" [style.width]="profileProgress + '%'"></div>
            </div>
          </div>
        
          <div class="progress-bar">
            <div class="progress-label">Education</div>
            <div class="progress">
              <div class="progress-bar-fill" ></div>
            </div>
          </div> -->
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                 Track Your Application Progress
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-10">
                            <div class="label">Personal Information</div>
                            <div class="progress-outer">
                              <div class="progress">
                                <div class="progress-bar progress-personal progress-bar-striped active progress-value" [style.width]="profileProgress + '%'" style="width:100%; box-shadow:-1px 10px 10px;">{{ profileProgress | number:'1.0-0'  }}%
                                </div>                    
                              </div>
                            </div>                         
                              <div class="label">Education</div>
                              <div class="progress-outer">
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-education progress-bar-striped active progress-value" [style.width]="educationProgress + '%'" style="width:100%; box-shadow:-1px 10px 10px;">{{ educationProgress | number:'1.0-0'  }}%</div>
                                    </div>
                              </div>
                              <div class="label">Attachments</div>
                              <div class="progress-outer">
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-attachments progress-bar-striped active progress-value" [style.width]="educationProgress + '%' ">{{ educationProgress | number:'1.0-0'  }}%</div>
                                      <!-- <div class="progress-value">{{ attachmentProgress  | number:'1.0-0' }}%</div> -->
                                  </div>
                              </div>
                    <div class="progress-tracker">
                  </div>
                </div></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  IKM Assessment
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>COMING SOON.</strong> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Bootcamp
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>COMING SOON.</strong> 
                </div>
              </div>
            </div>
          </div>