@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.card{
  margin-left: 60px;
  width: 72vw;
}
.card-body{
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
.progress-bar-inner {
  width: 87%;

  height: 50px;
  background-color: #092F4F;
  border-radius: 1rem;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  margin-left: 79px;
}

.progress-bar-text {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  

}




h3 {
  margin: 0;
}
.container{
  padding-top: 10px;
  height: 72vh;
  width: 71vw;
  border-radius: 20px;
  background-color: #ffffff;
}
.progress-title {
  font-size: 16px;
  color: #011627;
  margin: 0px 0 20px;
  font-weight: 500;
  /* margin-top: 5px; */
  margin-left: 100px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */


}

.progress {
  position: relative;
  background-color: #fff;
  height: 20px;
  overflow: visible !important;
  margin-bottom: 30px;
  border-radius: 20px !important;
  box-shadow: none;
  border: 1px solid black;
}

.progress .progress-bar {
  animation: animate-positive 2s;
  position: relative;
  box-shadow: none;
  border-radius: 30px !important;

}

.progress .progress-bar:after {
  /* colors inside the progress bars */
  content: "";
  position: relative;
  top: 50px;
  right: 0;
  background-color: #FF918E;
  height: 100px;

  border-radius: 50%;
  border: 1px solid black;
}

.progress.green .progress-bar:after {
  background-color: #A8FEBB;
}

.progress.blue .progress-bar:after {
  background-color: #9CF9FB;
}

.progress.yellow .progress-bar:after {
  background-color: #EFDC7C;
}

.progress .progress-bar:before {
  content: "";
  position: relative;
  top: -24px;
  right: 0px;
  background-color: #FFB800;
  height: 15px;

  border-radius: 50%;
  border: 1px solid black;

}

.progress.blue .progress-bar:before {
  background-color: #58D4FB;
}

.progress.green .progress-bar:before {
  background-color: #06C819;
}

.progress.yellow .progress-bar:before {
  background-color: #F0C808;
}

.progress .progress-value {
  position: absolute;
  padding: 3px 7px;
  top: -50px;
  right: -20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  /* display: block; */
}

.progress .progress-value:after {
  content: "";
  position: relative;
  bottom: 6px;
  left: 35%;
  border-top: 7px solid #000000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

.accordion-item{
  margin: 12px;
  width: 98%;
  font-family: 'Poppins', sans-serif;
}

.tracking{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}