@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* progress-tracker.component.css */

/* Style the progress tracker container */
.progress-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style each progress bar container */
.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between progress bars */
}

/* Style the progress label */
.progress-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the progress bar itself */
.progress {
  width: 250px;
  background-color: #a03e3e;
  height: 20px; /* Adjust the height of the progress bar */
  border-radius: 5px;
}

/* Style the progress bar fill based on the width percentage */
.progress-bar-fill {
  height: 100%;
  border-radius: 5px;
  background-color: #007bff; /* Change the fill color as needed */
  transition: width 0.3s ease; /* Add a smooth transition effect */
}
