@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.hearder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nb3-middle-icon{
  padding-top: 5px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.attachments-heading{
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;

}

.horizontal-line {
  border-radius: 5px;
	background: #D3D3D3;
  height: 2px;
  width: 85%;
  margin-left: 7%;
}

.main{
  /* display: flex; */
  /* align-items: center; */
  
justify-content: space-around;
}
.file-input-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 05%;
}
/* input{
  color: #219653;
  visibility: hidden;
} */
.file-upload {
  /* border: 1px solid #ccc; */
  padding: 20px 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border: 2.5px dashed #0a0a0a;
  width: 350px;
  height: 200px;
  margin-left: 8%;
}


.file-upload2 {
  padding: 20px 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border: 2.5px dashed #0a0a0a;
  width: 350px;
  height: 200px;
  margin-left: 8%;
}

.file-upload3 {
  padding: 20px 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border: 2.5px dashed #0a0a0a;
  width: 350px;
  height: 200px;
  margin-left: 8%;
}

.file-upload4 {
  padding: 20px 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border: 2.5px dashed #0a0a0a;
  width: 350px;
  height: 200px;
  margin-left: 8%;
}


.file-upload i {
  font-size: 20px;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.icon i {
  font-size: 50px;
  margin-left: 420px;
  margin-top: 15px;

}

.main span {

  background-color: #06C819;
  position: relative;
  border-radius: 50%;
  width: 100%;
  /* height: 50px; */
  /* object-fit: cover;  */
}

.main i {
  font-size: 25px;
  margin-top: 70px;
  margin-left: 25%;
  background-color: transparent;

}

h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

i {
  width: 50px;
  height: 50px;
}

.cv label i {
  margin-left: 10px;
  background-color: #742020;
}

.text-muted {
  font-size: 12px;
  color: #742020;
}

.error-message {
  color: #e74c3c;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.message {
  color: rgb(60, 220, 20);
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: f9f9f9;
  border-color: black;
  width: 700px;
  height: 45px;
  margin-left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.file-info span {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-info span:last-child {
  flex: none;
  color: #555;
}

.file-info i {
  font-size: 30px;
  text-align: center;
  align-items: center;
  display: flex;
}

.button-wrapper {
  margin-top: 15px;
}

.button-wrapper button {
  /* background-color: #27ae60; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 80px;
  margin-left: 70%;

}

.button-wrapper button:hover {
  background-color: #219653;
}

.upload {
  border-top: 950px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #344767;
  border-radius: 5px;
  color: #fff;
  font-family: 'Poppins', sans-serif;

}

.button {
  margin-top: -7%;
}

.vc-messages {
  margin-left: 50%;
  margin-top: -80%;
  background-color: #27ae60;
  /* background-color: #e74c3c; */
  /* text-align:center; */
}

.vc-sizeError {
  margin-left: 115%;
  margin-top: -40%;
  background-color: #e74c3c;
  text-align: justify;
}

.vc-formatError {
  margin-left: 115%;
  margin-top: -60%;
  background-color: #e74c3c;
  text-align: center;
}

.button-container {
display: flex;
flex-direction: row;
 justify-content: space-between;
align-items: center;
}


.save-button {
  border-radius: 5px;
  font-size: medium;
  margin: 0 0 20px 450px ;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-color: #344767;
  width: 210px;
  text-align: center;
  cursor: pointer;
  /* position: absolute; */
  left: 600px;
}

.done-button {
  margin-left: 0%;
  border-radius: 5px;
  font-size: medium;
  margin: 0 106px 20px 0;
  width: 120px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-color: #344767;
  text-align: center;
  cursor: pointer;
}
.success-border {
  border: 2.5px dashed #06C819;
}
.vc-messages {
  margin-left: 08%;
  margin-top: 05%;
  background-color:transparent;
  white-space: nowrap;
  color: red;
}

.vc-sizeError {
  margin-left: 8%;
  margin-top: 05%;
  background-color: transparent;
  color: red;
  white-space: nowrap;
}

.vc-formatError {
  margin-left: 0%;
  margin-top: -5%;
  background-color:transparent;
  white-space: wrap;
  color: red;
}
.qualifications-messages {
  margin-left: 08%;
  margin-top: 05%;
  background-color:transparent;
  color: #27ae60;
  white-space: nowrap;
}

.qualifications-sizeError {
  margin-left: 8%;
  margin-top: 05%;
  background-color: transparent;
  text-align: justify;
  color: red;
  white-space: nowrap;
}

.qualifications-formatError {
  margin-left: 0%;
  margin-top: -5%;
  background-color:transparent;
  white-space: wrap;
  color: red;
}
.id-messages {
  margin-left: 8%;
  margin-top: 05%;
  color:rgb(0, 255, 0);
  white-space: nowrap;
}

.id-sizeError {
  margin-left: 8%;
  margin-top: 05%;
  white-space: nowrap;
  color: red;
 
}

.id-formatError {
  margin-left: 0%;
  margin-top: -5%;
  background-color:transparent;
  white-space: wrap;
  color: red;
}
.cv-messages {
  margin-left: 50%;
  margin-top: -80%;
  background-color: #27ae60;
  /* background-color: #e74c3c; */
  /* text-align:center; */
}

.cv-sizeError {
  margin-left: 115%;
  margin-top: -40%;
  background-color: #e74c3c;
  text-align: justify;
}

.cv-formatError {
  margin-left: 115%;
  margin-top: -60%;
  background-color: #e74c3c;
  text-align: center;
}
.photo-messages {
  margin-left: 50%;
  margin-top: -80%;
  background-color: #27ae60;
  /* background-color: #e74c3c; */
  /* text-align:center; */
}

.photo-sizeError {
  margin-left: 115%;
  margin-top: -40%;
  background-color: #e74c3c;
  text-align: justify;
}

.photo-formatError {
  margin-left: 115%;
  margin-top: -60%;
  background-color: #e74c3c;
  text-align: center;
}


.SFmessage {margin-left: 0%;
  margin-top: 2%;
  background-color:transparent;
  white-space: wrap;
  color: red;
  
}
.uploaded {
  color: gray;
  font-size: large;
  /* margin-left: 40%; */
text-align: center;

  
}

.progress-container {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #3498db;
  transition: width 0.3s ease-in-out;
}

