<div>
  <div class="hearder">
    <img class="nb3-middle-icon" src="../../../assets/images/Backlog count(3).svg" />
    <h3 class="attachments-heading">Attachments</h3>
  </div>

  <div class="horizontal-line"></div>

  <div class="file-input-main">
    <div class="file-upload">
      <h6>Upload your CV</h6>
      <label for="fileInput" class="uploadbox">
        <input type="file" (change)="handleFileInput($event)" multiple />
        <small class="text-muted"
          >Allowed formats: JPEG, PNG, PDF. Max size: 5 MB</small
        ><br /><br />
        <div class="button">
          <button class="upload" (click)="uploadFiles()">Upload</button>
        </div>
      </label>

      <div class="messages">
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
      <div class="sizeError">
        <div *ngIf="sizeError" class="error-message">{{ sizeError }}</div>
      </div>
      <div class="formatError">
        <div *ngIf="formatError" class="error-message">{{ formatError }}</div>
      </div>
    </div>
    <div class="file-upload3">
      <h6>Upload your ID copy</h6>
      <label for="fileInput" class="uploadbox">
        <input type="file" (change)="handleFileInput($event)" multiple />
        <small class="text-muted"
          >Allowed formats: JPEG, PNG, PDF. Max size: 5 MB</small
        ><br /><br />
        <div class="button">
          <button class="upload" (click)="uploadFiles()">Upload</button>
        </div>
      </label>

      <!-- <div class="messages">
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
      <div class="sizeError">
        <div *ngIf="sizeError" class="error-message">{{ sizeError }}</div>
      </div>
      <div class="formatError">
        <div *ngIf="formatError" class="error-message">{{ formatError }}</div>
      </div> -->
    </div>
    <div class="file-upload2">
      <h6>Upload your vaccination card</h6>
      <label for="fileInput" class="uploadbox">
        <input type="file" (change)="handleFileInput($event)" multiple />
        <small class="text-muted"
          >Allowed formats: JPEG, PNG, PDF. Max size: 5 MB</small
        ><br /><br />
        <div class="button">
          <button class="upload" (click)="uploadFiles()">Upload</button>
        </div>
      </label>

      <!-- <div class="messages">
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
      <div class="sizeError">
        <div *ngIf="sizeError" class="error-message">{{ sizeError }}</div>
      </div>
      <div class="formatError">
        <div *ngIf="formatError" class="error-message">{{ formatError }}</div>
      </div> -->
    </div>

    <div class="file-upload4">
      <h6>Upload your qualifications</h6>
      <label for="fileInput" class="uploadbox">
        <input type="file" (change)="handleFileInput($event)" multiple />
        <small class="text-muted"
          >Allowed formats: JPEG, PNG, PDF. Max size: 5 MB</small
        ><br /><br />
        <div class="button">
          <button class="upload" (click)="uploadFiles()">Upload</button>
        </div>
      </label>

      <!-- <div class="messages">
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
      <div class="sizeError">
        <div *ngIf="sizeError" class="error-message">{{ sizeError }}</div>
      </div>
      <div class="formatError">
        <div *ngIf="formatError" class="error-message">{{ formatError }}</div>
      </div> -->
    </div>
  </div>

  <div *ngFor="let file of selectedFiles" class="file-info">
    <span>{{ file.name }}</span>
    <span>{{ getFileSize(file.size) }}</span>
    <i class="fa-sharp fa-solid fa-circle-check" style="color: #3e892f"></i>
    <i class="fa-regular fa-circle-xmark" style="color: crimson"></i>
  </div>
  <div class="button-container">
    <button (click)="onSaveClick()" class="save-button">Save and Close</button>
    <button (click)="onDoneClick()" class="done-button">Done</button>
  </div>
</div>
