<div>
  <div class="hearder">
    <img class="nb3-middle-icon" src="../../../assets/images/Backlog count(3).svg" />
    <h3 class="attachments-heading">Attachments</h3>
  </div>

  <div class="horizontal-line"></div>
    
      <!-- CV Upload Section -->
      <div class="file-input-main">
        <!-- CV Upload Section -->
        <div *ngFor="let section of sections" class="file-upload">
          <h6>Upload your {{ section }}</h6>
          <label [for]="section + 'FileInput'" class="uploadbox">
            <input [id]="section + 'FileInput'" type="file" (change)="handleFileInput($event, section)" multiple />
            <small class="text-muted">Allowed formats: JPEG, PNG, PDF. Max size: 5 MB</small><br /><br />
            <div class="button">
              <button class="upload" (click)="uploadFiles(section)">Upload</button>
            </div>
          </label>
          <!-- Error and message divs for each section -->
          <div class="messages">
            <div *ngIf="selectFilesMessages[section]" class="SFmessage">{{ selectFilesMessages[section] }}</div>
            <div *ngIf="uploadMessages[section]" class="message">{{ uploadMessages[section] }}</div>
          </div>
          <div class="sizeError">
            <div *ngIf="sizeErrors[section]" class="error-message">{{ sizeErrors[section] }}</div>
          </div>
          <div class="formatError">
            <div *ngIf="formatErrors[section]" class="error-message">{{ formatErrors[section] }}</div>
          </div>
        </div>
      </div>
    <!-- ID Copy Upload Section -->
    
  <div class="button-container">
    <button (click)="onSaveClick()" class="save-button">Save and Close</button>
    <!-- <button (click)="onSaveClick()" class="done-button">Done</button> -->

    <!-- Error and message divs for ID copy section -->
    
    