
<div class="desktop-22">
    <label class="desktop-22-child" id="rectangleButton"></label>
    <label class="desktop-22-item" autofocus id="rectangleButton1"></label>
    <div class="my-profile-wrapper" id="topbar">
      <label class="my-profile">My Profile</label>
    </div>
    <h1 class="please-enter-your" id="personal-info">
      Please enter your personal details
    </h1>
    <img class="personal-information-valid-icon" alt="" src="../../../assets/images/Untitled (18).svg" />
    <img class="personal-information-pending-icon" alt="" src="../../../assets/images/Untitled (19).svg" />
    <img class="education-valid-icon" alt="" src="../../../assets/images/Untitled (17).svg" />
    <img class="education-pending-icon" alt="" src="../../../assets/images/Untitled (10).svg" />
    <img class="attachments-valid-icon" alt="" src="../../../assets/images/Untitled (16).svg" />
    <img class="attachments-pending-icon" alt="" src="../../../assets/images/Untitled (15).svg" />
    
  
    <div class="desktop-22-inner"></div>
    <h3 class="box"></h3>
    <button class="submit-application" id="submit-application"(click)="onSubmitApplication()">Submit Application</button>
    <!-- (click)="routeToApplicantSuccess()" -->
    <img class="ellipse-icon" alt="" src="../../../assets/images/gold-icon.svg" />
    <div class="rectangle-div">
      
    </div>

    <b class="b">1</b>
    <h3 class="personal-information" id="PERSONALINFORMATION">
      PERSONAL INFORMATION
    </h3>


    
    <img class="line-icon" alt="" src="../../../assets/images/" />
    <img class="line-icon2" alt="" src="./public/line-4@2x.png" />
    <img class="desktop-30-child1" alt="" src="../../../assets/images/Blue-icon.svg" />
    <img class="desktop-30-child29" alt="" src="../../../assets/images/green-icon.svg" />

    <button type="button" class="personaldetails-button">
      <img src="../../../assets/images/Untitled (24).svg" alt="personal-info Icon">
    </button>
    
    <button type="button" class="education-button">
      <img src="../../../assets/images/interface-content-book-edit-pencil-content-write-notebook-book-edit-composition-creation.svg" alt="education Icon">
    </button>
    
    <button type="button" class="attachments-button">
      <img src="../../../assets/images/attach_file_add_FILL0_wght400_GRAD0_opsz48.svg" alt="attachments Icon">
    </button>
 
    <p class="p">2</p>

    <h4 class="desktop-22-child3" id="rectangleButton3"></h4>
    <h5 class="education" id="eDUCATION">EDUCATION</h5>
    

    <b class="b1">3</b>
    <label class="attachments" id="attachments">Attachments</label>
    

    <h2 class="applicant-name" id="Applicant-name">Applicant name</h2>

    <!-- <div class="g4l-navigation-panel" id="sidebar">
      </div> 
      
      <img class="g4l-logo-icon" alt="LOGO" src="../../../assets/images/g4l-logo.svg" />

      <div class="log-out-parent" id="frameContainer2">
      <button class="log-out">Log out</button></div> -->
      
      
    </div>
  


