@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


h3 {
    background-color: #092f4f;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    width: 90%;
    margin-left: 60px;
    border-radius: 10px;
  }
  p {
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }

  h4{
    font-family: 'Poppins', sans-serif;

  }  
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: 60px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
  
  }
  
  .learnership{
    text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  }

  span {
    display: flex;  
    align-items: center;
    padding-left: 16px;
    color: white;
    border-radius: 50px;
    background-color: #FFB800;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
  
  }
  .menu-btn-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  button {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-top: 10px;
    padding-left: 10px;
    border: none;
   color: rgb(8, 8, 8);
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eeeeee;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  }
  button:hover {
    transform: scale(1.04);
    box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.75);
  }
  .spn-two
  button i {
    margin-right: 10px; 
  }
  
  button h4 {
    flex: 1;
    text-align: center; 
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
  }
  
  .menu-btn-icons > *:not(:last-child) {
    margin-right: 20px;
  }
  .span-two{
    background-color: #58D4FB;
  }
  .span-three{
    background-color: #06C819;
  }
  .submit {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 320px;
    color: white;
    background-color: #092f4f;
    font-family: 'Poppins', sans-serif;
  }

  
  