<!-- <div class="col-md-4">
    <label for="validationDefault01" class="form-label">First name</label>
    <input type="text" formControlName="Firstname" class="form-control" id="validationDefault01" required>
    <div *ngIf="getFormControl('Firstname').invalid && getFormControl('Firstname').touched" class="text-danger">
      First name is required.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Last name</label>
    <input type="text" formControlName="Surname" class="form-control" id="validationDefault02" required>
    <div *ngIf="getFormControl('Surname').invalid && getFormControl('Surname').touched" class="text-danger">
      Last name is required.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>


  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">Gender</label>
    <select class="form-select" formControlName="Gender" id="validationDefault04" required>
      <option selected disabled value="">Choose...</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <div *ngIf="getFormControl('Gender').invalid && getFormControl('Gender').touched" class="text-danger">
      Gender is required.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationDefault05" class="form-label">Race</label>
    <select class="form-select" formControlName="Race" id="validationDefault05" required>
      <option selected disabled value="">Choose...</option>
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Indian">Indian</option>
      <option value="Mixed">Mixed</option>
      <option value="Other">Other (not listed)</option>
    </select>
    <div *ngIf="getFormControl('Race').invalid && getFormControl('Race').touched" class="text-danger">
      Race is required.
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div> -->