.formcontrol {
    margin-bottom: 4rem;
    /*padding-right: 70pt;*/
    font-family: Arial, Helvetica, sans-serif;
    width: 300pt;
  }
  
.d{
  width: 200px;

}


.modal-content{
  width: 600pt;

}



/* Add this CSS to style the buttons, icons, and space between them */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0px;
  margin-bottom: 30pt;
  
}

button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  height: 25pt;
  font-family: Arial, Helvetica, sans-serif;
}

.save-close-btn {
  background-color: #344767;
  color: #fff;
  width: 119pt;
  font-family: Arial, Helvetica, sans-serif;
}

.done-btn {
  background-color: #344767;
  color: #fff;
  width: 74pt;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-icon {
  margin-right: 5px;
}
   
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
 
}

  #Disability{
    height: 80pt;
    width: 365pt;
  }
  
  .form-container {
    /* background-color: aqua; */
    padding: 1rem !important;
    
    
  }

  .container{
    font-family: Inter;
    width: 800pt;
    height: 85vh;
    border-radius: 20px;
    /* background-color: aqua; */
   

  }
  
  .d-block{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11pt;
    width: 500pt;
    font-weight: 350;
    /* word-wrap: break-word; */
    /* margin: 1rem auto; */
    justify-content: center;
    /* background-color: aqua; */
    margin-left: 30px;
  }
  
  .short-line {
    width: 550px;
    height: 2px; 
    background-color: #000; 
    border: none;
    margin-bottom: 5px auto; 
    margin-left: 13pt;
  }

  .svg-container {
    width: 50px;
    height: 50px;
    position: relative;
    /*padding-top: 90pt;*/
  }
  
  .dropdown_gender {
    width: 70pt;
    padding: 1pt;
    border: 1pt solid #ccc;
    border-radius: 5px;
  }
  
.phone-label{
  width: 100px;

}

  .btn{
    padding-right: 7rem;
  }
  
  
.yes{
  padding-right: 4px;
  padding-bottom: 4px;

}

.no{
  padding-right: 4px;

}
  
.yes-radio{
  margin-top: 45px;

}

  .nb1-middle-icon{
    /* position: absolute;
     top: 20px; /* Adjust the top position as needed 
    margin-left: 150px; */
    margin-bottom: 10px;
    margin-right: 15px;
  }
  
  .pd-middle-icon{
  margin-bottom: 0pt;
  }
  
  .personal-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    top: -70px;
    margin-left: 85pt;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .col-disability{
    height: 80pt;
    text-align: left; vertical-align: top;
  }
  
  /*sidenave styling*/
  .personal-information-icon{
      position: fixed;
      margin-left: 29pt;
      margin-top: 8pt;
      height: 55px;
      width: 90px;
    }
  
    .personal-information-label{
      position: fixed;
      margin-left: 5pt;
      margin-top: 53pt;
      height: 40px;
      width: 160px;
    }
  
    .nb1-icon{
      position: fixed;
      margin-left: -17pt;
      padding-left: pt;
      margin-top: 54pt;
      height: 20px;
      width: 30px;
  }
  
  .arrow-down{
    position: fixed;
      margin-left: 38pt;
      margin-top: 92pt;
      height: 40px;
      width: 60px;
  }
  
  .education-head-nav-icon{
    position: fixed;
      margin-left: 44pt;
      margin-top: 145pt;
      height: 40px;
      width:46px;
      /* font-size: 60pt; */
  }
  
  .education-body-nav-icon{
    position: fixed;
      margin-left: 38pt;
      margin-top: 155pt;
      height: 40px;
      width: 60px;
  }
  
  .education-nav-label{
    position: fixed;
      margin-left: 33pt;
      margin-top: 203pt;
      height: 40px;
      width: 80px;
  }
  
  .nb2-icon{
    position: fixed;
      margin-left: 8pt;
      padding-left: pt;
      margin-top: 205pt;
      height: 20px;
      width: 30px;
  }
  
  .arrow-down2{
    position: fixed;
      margin-left: 38pt;
      margin-top: 240pt;
      height: 40px;
      width: 60px;
  }
    
  .attachments-icon-nav{
    position: fixed;
      margin-left: 30pt;
      margin-top: 294pt;
      height: 50px;
      width: 80px;
  }
  
  
  .attachments-nav-label{
    position: fixed;
    margin-left: 33pt;
    margin-top: 350pt;
    height: 40px;
    width: 80px;
  
  }
  
  .nb3-icon{
    position: fixed;
      margin-left: 8pt;
      padding-left: pt;
      margin-top: 352pt;
      height: 20px;
      width: 30px;
  
  }
  /*sidenave styling*/

  .firstname_field{
    /* background-color: aqua; */
    flex-direction: row;

  }

  .validation {
    border: 1px solid red;
    /* position: absolute;
    width: 98%;
    top: 2rem;
    right: 0;
    background-color: aqua;
    padding: .5rem;
    z-index: 999; */
  }

  .success {
    border: 1px solid rgb(37, 197, 37);
  }