<div class="main-menu">
  <h4>Journey to a Geek</h4>
  <div class="steps">
    <h4>Step 1</h4>
    <h6>Enter personal details</h6>
    <div class="first-step">
      <div class="details-step">
        <i class="fa-solid fa-address-card fa-2xl"></i>
        <div class="personal-text">
          <p>Personal information</p>
        </div>
      </div>
      <i class="fa-solid fa-arrow-right fa-2xl"></i>
      
        <div class="details-step">
          <i class="fa-solid fa-graduation-cap fa-2xl"></i>
          <div class="personal-text">
            <p>Education</p>
          </div>
       
      </div>
      <i class="fa-solid fa-arrow-right fa-2xl"></i>
        <div class="details-step">
          <i class="fa-solid fa-file-arrow-up fa-2xl"></i>
          <div class="personal-text">
            <p>Attachments</p>
          </div>
        </div>
    
    </div>
  </div>
  <div class="steps">
    <h4>Step 2</h4>
    <p>
      When approved, write an aptitude test that measures your problem solving
      skills
    </p>
    <div class="container d-flex justify-content-center">
    <i class="fa-regular fa-pen-to-square fa-2xl"></i>
    </div>
  </div>
  <div class="steps">
    <h4>Step 3</h4>
    <p>
      Enter an IT boot camp that provides you with a foundation of IT knowledge
    </p>
    <div class="container d-flex justify-content-center">
    <i class="fa-solid fa-book fa-2xl"></i>
    </div>
  </div>
  <div class="steps">
    <h4>Step 4</h4>
    <p>Become a fellow Geek!</p>
    <div class="container d-flex justify-content-center">
    <i class="fa-solid fa-user-graduate fa-2xl"></i>
    </div>
  </div>
  <div class="container d-flex justify-content-end mt-3">
    <button class="btn" (click)="openProfilePage()">Proceed to Application page</button>
  </div>
  
</div>
