<div class="container-fluid">
  <div class="card-header mt-2 mx-2">
    <div class="row align-items-center justify-content-end">
      <div class="col-4 text-end">
        <a (click)="close()" class="cursor-pointer"> <i class="fa-solid fa-xmark"></i></a>
      </div>
    </div>
  </div>
  <div class="container text-center mb-0"> 
    <p class="fs-4">{{user.name}} {{user.surname}}</p> 
</div>
  <div>
    <h3 class="fs-4">Education</h3>
    <div class="row g-3 mb-3">
      <div class="col">
        <label class="form-control-label" for="math-subject"
          >Mathematics Subject</label
        >
        <input
          type="text"
          id="math-subject"
          class="form-control"
          [value]="user.mathSubject"
          disabled
          readonly
        />
      </div>
      <div class="col">
        <label class="form-control-label" for="mathematics-marks"
          >Mathematics Marks</label
        >
        <input
          id="mathematics-marks"
          type="text"
          class="form-control"
          [value]="user.mathMark"
          disabled
          readonly
        />
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col">
        <label class="form-control-label" for="english-mark"
          >English Marks</label
        >
        <input
          id="english-mark"
          type="text"
          class="form-control"
          [value]="user.englishMark"
          disabled
          readonly
        />
      </div>
      <div class="col">
        <label class="form-control-label" for="qualifications"
          >English Marks</label
        >
        <input
          id="qualifications"
          type="text"
          class="form-control"
          [value]="user.qualifications"
          disabled
          readonly
        />
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col">
        <label class="form-control-label" for="field-of-study"
          >Field of Study</label
        >
        <input
          id="field-of-study"
          type="text"
          class="form-control"
          [value]="user.fieldOfStudy"
          disabled
          readonly
        />
      </div>
      <div class="col">
        <label class="form-control-label" for="course-of-interst"
          >Course applied For</label
        >
        <input
          id="course-of-interst"
          type="text"
          class="form-control"
          [value]="user.courseOfInterest"
          disabled
          readonly
        />
      </div>
    </div>
  </div>
  <hr class="horizontal dark my-4" />
  <h3>Attachments</h3>
  <div class="row g-3 mb-3">
    <div class="col">
      <label class="form-control-label" for="cv-attachment">CV</label>
      <input
        type="text"
        id="cv-attachment"
        class="form-control"
        [value]="user.mathSubject"
        disabled
        readonly
      />
    </div>
    <div class="col">
      <label class="form-control-label" for="matric">Matric Certificate</label>
      <input
        id="matric"
        type="text"
        class="form-control"
        [value]="user.mathMark"
        disabled
        readonly
      />
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col">
      <label class="form-control-label" for="id-copy">Copy of Id</label>
      <input
        id="id-copy"
        type="text"
        class="form-control"
        [value]="user.englishMark"
        readonly
        disabled
      />
    </div>
    <div class="col">
      <label class="form-control-label" for="highest-qualifications"
        >Highest Qaulifcation</label
      >
      <input
        id="highest-qualifications"
        type="text"
        class="form-control"
        [value]="user.qualifications"
        disabled
        readonly
      />
    </div>
  </div>
</div>
