
<div class="fluid-container">
    <div class="row m-0">
        <div class="col-3">
        </div>

        <div>
           
           
        </div>
        <div class="col form-container mt-0">
            <div class="d-block text-center mt-0">
                <div class="education-heading">
                    <img class="nb2-middle-icon" src="../../../assets/images/Backlog count (2).svg" />


                    <h3 class="education-title-middle">Education</h3>
                </div>
                <div>
                    <hr class="short-line">
                </div>
               
            </div>

            <h5>Matric Grades</h5>
            <!-- Radio buttons for Math subject -->
            <div class="radio-group-marks">
                <h6>Subject:</h6>
                <div class="math-subjects">

                    <div>
                        <input type="radio" id="mathLit" name="mathSubject" value="mathLit">
                        <label for="mathLit">Math Lit</label>
                    </div>

                    <div>
                        <input type="radio" class="math-pure" id="mathPure" name="mathSubject" value="mathPure">
                        <label for="mathPure">Math Pure</label>
                    </div>
                </div>
                <br>
                
            </div>
            <!-- Drop-downs for Math and English marks -->
            <div>Math Mark:
                <select class="mathmarks" name="mathMark">
                    <!-- Replace the options with actual grading scale values -->
                    <option disabled selected hidden>Select mark range</option>
                    <option value="30% - 39%">30% - 39%</option>
                    <option value="40% - 49%">40% - 49%</option>
                    <option value="50% - 59%">50% - 59%</option>
                    <option value="60% - 69%">60% - 69%</option>
                    <option value="70% - 79%">70% - 79%</option>
                    <option value="80% - 89%">80% - 89%</option>
                    <option value="90% - 99%">90% - 99%</option>
                </select>
            </div>

            <div>English Mark:
                <select class="englishmarks" name="englishMark">
                    <!-- Replace the options with actual grading scale values -->
                    <option disabled selected hidden>Select mark range</option>
                    <option value="30% - 39%">30% - 39%</option>
                    <option value="40% - 49%">40% - 49%</option>
                    <option value="50% - 59%">50% - 59%</option>
                    <option value="60% - 69%">60% - 69%</option>
                    <option value="70% - 79%">70% - 79%</option>
                    <option value="80% - 89%">80% - 89%</option>
                    <option value="90% - 99%">90% - 99%</option>
                </select>
            </div>
           

            <!-- Checkbox for "Post Matric Qualification" -->
         <div>
            <p>
                <label class="postMatricQualification" for="postMatricQualification">
                    Post Matric Qualification(Highest)</label>
            </p>
            <div class="dropdown-container col-4">
                <label for="qualification">Select Qualification:</label>
                <select id="qualification" name="qualification">
                  <option disabled selected hidden>Select qualification</option>
                  <option value="None">None</option>
                  <option value="Higher-certificate">Higher certificate</option>
                  <option value="Bachelor-degree">Bachelor degree</option>
                  <option value="Diploma">Diploma</option>
                  <option value="Post-graduate">Post graduate</option>
                  <option value="Other">Other</option>
                </select>
              </div>
        </div>
            <br>
            <h5>Field of Study</h5>

            <!-- Dropdown box with label -->
            <label for="fieldOfStudy">Field of Study:</label>
            <select class="fieldOfStudy" id="fieldOfStudy" name="fieldOfStudy">
                <option disabled selected hidden>Select field of study</option>
                <option value="IT">I.T</option>
                <option value="Other">Other</option>
            </select>
            <br>
            
            <h5>Course of Interest</h5>

            <!-- Radio buttons with labels -->
            <div>
                <div class="testing-radio">
                    <input type="radio" id="softwareTesting" name="course" value="Software Testing(NQF 5)">
                    <label for="softwareTesting">Software Testing (NQF 5)</label>
                </div>

                <div class="development-radio">
                    <input type="radio" id="systemsDevelopment" name="course" value="Systems Development(NQF 5)">
                    <label for="systemsDevelopment">Systems Development (NQF 5)</label>
                </div>
            </div>

            <div>
                <div class="business-radio">
                    <input type="radio" id="businessAnalysis" name="course" value="Business Analysis(NQF 6)">
                    <label for="businessAnalysis">Business Analysis (NQF 6)</label>
                </div>
            </div>
            <div class="button-row mt-0 col-11">

                <div class="button-container">
                    <button (click)="onSaveAndCloseClick()" class="save-close-btn">
                     Save and Close</button>
                    <button (click)="onDoneClick()" class="done-btn">Done </button>
                  </div>
            </div>
        </div>
    </div>
</div>
