@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.formcontrol {
  margin-bottom: 1rem;
  
  height: 100vh;
}

#Disability {
  height: 100pt;
  width: 365pt;
}

.form-container {
  height: auto;
  font-size: 14px;
}

.d-block {
  position: relative;
  font-family: 'Inter';
  color: black;
  font-size: 9pt;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  margin: 1rem auto;
}

.dropdown_gender {
  width: 70pt;
  padding: 1pt;
  border: 1pt solid #ccc;
  border-radius: 5px;
}

.btn {
  padding-right: 7rem;
}

.math-subjects {
  width: 90pt;
  font-family: 'Poppins', sans-serif;
}

.math-subjects-box {
  margin-left: 10px;
  width: 200px;
}

.math-labels {
  font-family: 'Poppins', sans-serif;
}

.eng-labels {
  font-family: 'Poppins', sans-serif;
}

.nb2-middle-icon {
  margin-top: 12pt;
  margin-right: 105pt;
}

.education-title-middle {
  margin-top: 23pt;
  height: 27pt;
  justify-content: center;
  margin-left: -100pt;
  font-family: 'Poppins', sans-serif;
}

.content {
  margin-left: 80px;
  justify-content: center;
  width: 600px;
}

.short-line {
  width: 550px;
  height: 2px;
  background-color: #000;
  border: none;
  margin-left: 8pt;
  margin-top: 0px;
}

.save-close-btn {
  background-color: #344767;
  color: #fff;
  width: 119pt;
  height: 20pt;
  padding-bottom: 30px;
}

.done-btn {
  background-color: #344767;
  color: #fff;
  width: 74pt;
  height: 20pt;
  padding-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420pt;
  /*haha*/
  height: 20pt;
  margin-left: 60px;
}

.pd-middle-icon {
  margin-bottom: 0pt;
}

.education-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nb2-icon {
  position: fixed;
  margin-left: 8pt;
  padding-left: pt;
  margin-top: 205pt;
  height: 20px;
  width: 30px;
  
}

.attachments-icon-nav {
  position: fixed;
  margin-left: 30pt;
  margin-top: 294pt;
  height: 50px;
  width: 80px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  height: 30pt;
  padding-top: 10px;
  margin-bottom: 10px;
}

.postMatricQualification {
  font-size: large;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.dropdown-container {
  font-family: 'Poppins', sans-serif;
}

.fieldStudy-label {
  font-family: 'Poppins', sans-serif;
}

.field-label {
  font-family: 'Poppins', sans-serif;
}

.course-label {
  font-family: 'Poppins', sans-serif;
}

.save-close-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.save-close-button {
  margin-left: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h3,
h4 {
  margin: 10px 0;
}


.radio-group {
  display: flex;
}

.subject-label {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.matric-label {
  font-family: 'Poppins', sans-serif;
}

.math-subjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.qualifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  font-size: medium;
}

.postgrad-radio {
  margin-right: 17px;
  
}

.radio-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 30pt;

}

#fieldOfStudy {
  align-content: center;
  font-family: 'Poppins', sans-serif;
}


input[type="checkbox"] {
  margin-right: 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.fa-solid fa-floppy-disk {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.fa-solid fa-floppy-disk {
  margin-right: 5px;
}

.save-close-button {
  display: flex;
  align-items: center;
}

.save-close-button .icon {
  margin-left: 5px;
  border-radius: 20px;
}

.math-lit-rad {
  padding-right: 5px;
}

.mathmarks {
  width: 130pt;
  margin-left: 30px;
  margin-bottom: 10px;
}

.mathlit-label {
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
}

.mathPure-label {
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
}

.englishmarks {
  width: 130pt;
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
}

.pmq-box{
  width: 140pt;
  margin-left: 10pt;
  font-family: 'Poppins', sans-serif;
}

.fieldOfStudy {
  width: 140pt;
  margin-left: 10pt;
  font-family: 'Poppins', sans-serif;
}

.course-label-items {
  width: 189pt;
  margin-left: 18px;
  font-family: 'Poppins', sans-serif;
}

.testing-radio {
  margin-left: 20pt;
  font-family: 'Poppins', sans-serif;
}

.development-radio {
  margin-left: 20pt;
  font-family: 'Poppins', sans-serif;
}

.business-radio {
  margin-left: 20pt;
  font-family: 'Poppins', sans-serif;
}

.systemsDevelopment-label {
  padding-left: 5px;
}

.softwareTesting-label {
  padding-left: 5px;
}

.businessAnalysis-label {
  padding-left: 5px;
}

.val {
  font-family: 'Poppins', sans-serif;
}