<div class="fluid-container">
    <form action="#" [formGroup]="educationForm">
        <div class="row m-0">
            <div class="col-3">
            </div>
            <div class="col form-container mt-0">
                <div class="d-block text-center mt-0">
                    <div class="education-heading">
                        <img class="nb2-middle-icon" src="../../../assets/images/Backlog count (2).svg" />

                        <h3 class="education-title-middle">Education</h3>
                    </div>
                    <div>
                        <hr class="short-line">
                    </div>

                </div>
                <div class="content">
                    <h5 class="matric-label">Matric Grades</h5>

                    <div class="radio-group-marks">
                        <div class="math-subjects">
                            <span class="subject-label">Subject(Math) </span>
                            <select class="math-subjects-box" name="mathSubjects" formControlName="MathSubject">
                                <option disabled selected hidden>Select math subject</option>
                                <option value="math-pure">Math Pure</option>
                                <option value="math-lit">Math Lit</option>
                            </select>
                            
                        </div>
                        <div *ngIf="getFormControl('MathSubject').invalid && getFormControl('MathSubject').touched"
                                class="val text-danger">
                                Math subject is required.
                            </div>
                        
                    </div>

                    <div class="math-labels">Math Mark:
                        <select class="mathmarks" name="mathmark" formControlName="MathMark">

                            <option disabled selected hidden>Select mark range</option>
                            <option value="30% - 39%">30% - 39%</option>
                            <option value="40% - 49%">40% - 49%</option>
                            <option value="50% - 59%">50% - 59%</option>
                            <option value="60% - 69%">60% - 69%</option>
                            <option value="70% - 79%">70% - 79%</option>
                            <option value="80% - 89%">80% - 89%</option>
                            <option value="90% - 99%">90% - 99%</option>
                        </select>
                        <div *ngIf="getFormControl('MathMark').invalid && getFormControl('MathMark').touched"
                            class="val text-danger">
                            Math mark is required.
                        </div>
                    </div>

                    <div class="eng-labels">English Mark:
                        <select class="englishmarks" name="englishMark" formControlName="EnglishMark">

                            <option disabled selected hidden>Select mark range</option>
                            <option value="30% - 39%">30% - 39%</option>
                            <option value="40% - 49%">40% - 49%</option>
                            <option value="50% - 59%">50% - 59%</option>
                            <option value="60% - 69%">60% - 69%</option>
                            <option value="70% - 79%">70% - 79%</option>
                            <option value="80% - 89%">80% - 89%</option>
                            <option value="90% - 99%">90% - 99%</option>
                        </select>
                        <div *ngIf="getFormControl('EnglishMark').invalid && getFormControl('EnglishMark').touched"
                            class="val text-danger">
                            English mark is required.
                        </div>
                    </div>

                    <div>
                        <p>
                            <label class="postMatricQualification" for="postMatricQualification">
                                Post Matric Qualification(Highest)</label>
                        </p>
                        <div class="dropdown-container col-4">
                            <!-- <label for="qualification">Select Qualification:</label> -->
                            <select class="pmq-box" id="qualification" name="qualification" formControlName="Qualifications">
                                <option disabled selected hidden>Select qualification</option>
                                <option value="None">None</option>
                                <option value="Higher-certificate">Higher certificate</option>
                                <option value="Bachelor-degree">Bachelor degree</option>
                                <option value="Diploma">Diploma</option>
                                <option value="Post-graduate">Post graduate</option>
                                <option value="Other">Other</option>
                            </select>
                            <div *ngIf="getFormControl('Qualifications').invalid && getFormControl('Qualifications').touched"
                                class="val text-danger">
                                Qualifications is required.
                            </div>
                        </div>
                    </div>

                    <h5 class="fieldStudy-label">Field of Study</h5>
                    <label class="field-label" for="fieldOfStudy">Field of Study:</label>
                    <select class="fieldOfStudy" id="fieldOfStudy" name="fieldOfStudy" formControlName="FieldOfStudy">
                        <option disabled selected hidden>Select field of study</option>
                        <option value="IT">I.T</option>
                        <option value="Other">Other</option>
                    </select>
                    <div *ngIf="getFormControl('FieldOfStudy').invalid && getFormControl('FieldOfStudy').touched"
                        class="val text-danger">
                        Field Of Study is required.
                    </div>
                    <h5 class="course-label">Course of Interest</h5>

                    <label class="course-label" for="course-interest">Course of interest:</label>
                    <select class="course-label-items" id="course-interest" name="CourseOfInterest"
                        formControlName="CourseOfInterest">
                        <option disabled selected hidden>Select Course of interest</option>
                        <option value="software-testing">Software Testing(NQF 5)</option>
                        <option value="software-development">Systems Development(NQF 5)</option>
                        <option value="business-analysis">Business Analysis(NQF 6)</option>
                    </select>
                    <div *ngIf="getFormControl('CourseOfInterest').invalid && getFormControl('CourseOfInterest').touched"
                        class="val text-danger">
                        Course Of Interest is required.
                    </div>
                </div>
                <div class="button-row mt-0 col-11">
                    <div class="button-container">
                        <button (click)="onSaveAndCloseClick()" class="save-close-btn">
                            Save and Close</button>
                        <button (click)="onSubmit()" class="done-btn">Done </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>