<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 ps ps--active-y"
  id="sidenav-main"
>
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"
    ></i>
    <a
      class="navbar-brand m-0"
      href="https://geeks4learning.com/"
      target="_blank"
    >
      <img
        src="../../../assets/images/g4l-logo.svg"
        class="navbar-brand-img h-100"
        alt="main_logo"
      />
      <!-- <span class="ms-1 font-weight-bold">Geeks4Learning</span> -->
    </a>
  </div>
  <hr class="horizontal dark mt-0" />
  <div class="collapse navbar-collapse w-auto ps" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link cursor-pointer" routerLink="/journey-to-geek" routerLinkActive="active">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-person-hiking"></i>
          </div>
          <span class="nav-link-text ms-1">Journey to geek</span>
        </a>
      </li>
      <li class="nav-item  cursor-pointer" routerLink="/applicant-profile-dashboard" >
        <a class="nav-link cursor-pointer">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
          >
          <i class="fa-solid fa-address-card"></i>
          </div>
          <span class="nav-link-text ms-1">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" routerLink="/application-progress">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
          >
          <!-- <i class="fa-solid fa-address-card"></i> -->
          <i class="fa-solid fa-bars-progress"></i>
          </div>
          <span class="nav-link-text ms-1">Application progress</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
          >
          <i class="fa-solid fa-lines-leaning"></i>
          </div>
          <span class="nav-link-text ms-1">IKM</span>
        </a>
      </li>
      <li class="nav-item mb-5">
        <a class="nav-link cursor-pointer">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
          >
          <i class="fa-solid fa-book-open"></i>
          </div>
          <span class="nav-link-text ms-1">Bootcamp</span>
        </a>
      </li>
      <li class="nav-item  mt-5">
        <a class="nav-link cursor-pointer ">
          <div
            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center"
          >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </div>
          <span class="nav-link-text ms-1">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>


