.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* color: rgb(143 153 172); */
    margin-top: 20px;
    height: 95vh;
background-color: rgba(253, 253, 251, 0.992);
    border-radius: 10px;
    padding-top: 20px;
}
.main-menu> h4{
    background-color:rgba(109, 169,249, 0.974);
    color: white;
    padding: 8px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
}
.steps{
    width: 80%;
    height: 24vh;
    padding: 0 10px;
    margin: 2px;
    background-color:rgb(96, 193, 235) ;
    border-radius: 10px; 
}
.first-step{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.steps>h6 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}
.steps>p{
    text-align: center;
    margin-bottom: 20px;
}
.steps>h4{
    text-align: center;
    font-size: 22px;
}
.personal-text{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
  }
.details-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
 }
 .mt-3{
  margin-top: 20px;
 }
 .btn{
   background-color: rgba(109, 169,249, 0.974);
 }