
    <div class="desktop-22">
      <label class="desktop-22-child" id="rectangleButton"></label>
      <button class="desktop-22-item" autofocus id="rectangleButton1"></button>
      <div class="my-profile-wrapper" id="topbar">
        <label class="my-profile">My Profile</label>
      </div>
      <h1 class="please-enter-your" id="personal-info">
        Please enter your personal details
      </h1>
      <img class="icons" alt="" src="../../../assets/images/Untitled (9).svg" />
      <img class="icons2" alt="" src="../../../assets/images/Untitled (8).svg" />
      <img class="icons3" alt="" src="../../../assets/images/useredit.svg" />
      <img class="icons4" alt="" src="../../../assets/images/Untitled (11).svg" />
      <img class="icons5" alt="" src="../../../assets/images/Untitled (10).svg" />
      <img class="icons6" alt="" src="../../../assets/images/interface-content-book-edit-pencil-content-write-notebook-book-edit-composition-creation.svg" />
      <img class="icons7" alt="" src="../../../assets/images/Untitled (14).svg" />
      <img class="icons8" alt="" src="../../../assets/images/Untitled (15).svg" />
      <img class="icons9" alt="" src="../../../assets/images/attach_file_add_FILL0_wght400_GRAD0_opsz48.svg"/>
      <img class="iconx" src="../../../assets/images/Vector (8).svg"/>
      
<button>p-info-edit-icon</button>
      <div class="desktop-22-inner"></div>
      <button class="submit-application" id="submit-application"></button>
      <button class="submit-application">Submit application</button>s
      <img class="ellipse-icon" alt="" src="../../../assets/images/gold-icon.svg" />

      <b class="b">1</b>
      <h3 class="personal-information" id="PERSONALINFORMATION">
        PERSONAL INFORMATION
      </h3>
      <img class="rectangle-icon" alt="" src="../../../assets/images/Rectangle 40.svg" />
      <img class="rectangle-icon1" alt="" src="../../../assets/images/Rectangle 40.svg" />
      <img class="rectangle-icon2" alt="" src="../../../assets/images/Rectangle 40.svg" />

      
      <img class="line-icon" alt="" src="../../../assets/images/" />
      <img class="line-icon2" alt="" src="./public/line-4@2x.png" />
      <img class="desktop-30-child1" alt="" src="../../../assets/images/Blue-icon.svg" />
      <img class="desktop-30-child29" alt="" src="../../../assets/images/green-icon.svg" />
      <img class="side-icon" src="../../../assets/images/Vector (11).svg" />
      <img class="side-icon2" src="../../../assets/images/Vector (12).svg" />
      <img class="side-icon3" src="../../../assets/images/Vector (13).svg" />
      <img class="side-icon4" src="../../../assets/images/paperclip-thin.svg" />

      <button class="iconsaxlinearuseredit" id="iconsaxLinearuseredit">
        <button class="icons6" id="iconsaxLinearuseredit"></button>
        <button class="iconsaxlinearuseredit" id="iconsaxLinearuseredit"></button>
    
      </button>
    
      <p class="p">2</p>
  

      <h4 class="desktop-22-child3" id="rectangleButton3"></h4>
      <h5 class="education" id="eDUCATION">EDUCATION</h5>
      

      <b class="b1">3</b>
      <label class="attachments" id="attachments">Attachments</label>
      

      <h2 class="applicant-name" id="Applicant-name">Applicant name</h2>

      <div class="g4l-navigation-panel" id="sidebar">
        </div> 
        
        <img class="g4l-logo-icon" alt="LOGO" src="../../../assets/images/g4l-logo.svg" />

        <div class="log-out-parent" id="frameContainer2">
          <button class="log-out">Log out</button>
          
        </div>
        
        
      </div>
    

  
