
    <div class="desktop-4">
       <div class="your-application-progress-wrapper">
        <b class="your-application-progress">Your Application Progress</b>
      </div>
        
      </div> 
      <!-- <img class="desktop-4-child" alt="" src="./public/rectangle-9.svg" /> -->
      <div class="vector-parent">
        <!-- <img class="rectangle-icon" alt="" src="./public/rectangle-8.svg" /> -->

        <div class="annual-leave-donut-chart-1">
          <img class="icon" alt="" src="./../../../../assets/images/top cres.svg" />

          <img class="icon1" alt="" src="./../../../../assets/images/bottom cres.svg" />

          <div class="div">65%</div>
        </div>
        <b class="personal-information">Personal Information</b>
        <!-- <p class="p">1</p> -->
        <!-- <p class="p1">2</p> -->
      </div>
      <div class="vector-group">
        <!-- <img class="frame-child1" alt="" src="./public/rectangle-81.svg" /> -->

        <div class="annual-leave-donut-chart-11">
          <img class="icon" alt="" src="./../../../../assets/images/btcres.svg" />

          <img class="icon1" alt="" src="./../../../../assets/images/bbcress.svg" />

          <div class="div1">100%</div>
        </div>
        <b class="education">Education</b>
        <div class="ellipse-div"></div>
        <p class="p2">2</p>
      </div>
      <div class="vector-container">

        <div class="annual-leave-donut-chart-12">
          <img class="icon" alt="" src="./../../../../assets/images/top cres.svg" />

          <img class="icon1" alt="" src="./../../../../assets/images/Gbcres.svg" /> 

          <div class="div2">65%</div>
        </div>
        <div class="frame-wrapper">
          <div class="attachments-wrapper">
            <b class="attachments">Attachments</b>
          </div>
        </div>
        <div class="frame-child3"></div>
        <p class="p3">3</p>
      </div>
      <div class="desktop-4-item"></div>
      <p class="p4">1</p>
      
      <img class="desktop-4-inner" alt="" src="./assets/Line 3.svg" />

      <b class="aptitude-test-ikm">Aptitude test (IKM)</b>
      <img
        class="pharrow-up-thin-icon"
        alt=""
        src="./../../../../assets/images/ph_arrow-up-thin.svg"
      />

      <p class="complete-personal-details" id="completePersonalDetails">
        <a href="personal details">personal details </a>
        </p>

      <div class="frame-div">
        <!-- <img class="frame-child4" alt="" src="./public/rectangle-83.svg" /> -->

        <div class="annual-leave-donut-chart-13">
          <img class="icon" alt="" src="./../../../../assets/images/tgreycres.svg" />

          <img class="icon1" alt="" src="./../../../../assets/images/bgreycres.svg" />

          <div class="div3">0%</div>
        </div>
        <!-- <p class="p5">1</p>
        <p class="p6">2</p> -->
        <b class="personal-details-need"
          >(Personal details need to be approved to unlock this stage)</b
        >
      </div>
      <b class="boot-camp-progress">Boot Camp Progress</b>
      <div class="vector-parent1">
        <!-- <img class="frame-child4" alt="" src="./assets/" /> -->

        <div class="annual-leave-donut-chart-14">
          <img class="icon" alt="" src="./../../../../assets/images/tgreycres.svg" />

          <img class="icon1" alt="" src="./../../../../assets/images/bgreycres.svg" />

          <div class="div4">0%</div>
        </div>
        <!-- <p class="p5">1</p>
        <p class="p6">2</p> -->
        <b class="aptitude-test-results"
          >(Aptitude test results need to be approved to unlock this stage)</b
        >
      </div>
      <img
        class="iconsaxlinearlock1"
        alt=""
        src="./../../../../assets/images/lock1.svg"
      />

      <img
        class="iconsaxlinearlock11"
        alt=""
        src="./../../../../assets/images/lock1.svg"
      />

      <i class="personal-details-progress">Personal Details Progress</i>
      <!-- <div class="goals-management">
        <b class="application-progress">Application Progress</b>
        <div class="goals-management-child"></div> -->

      <!-- <img
        class="carbondashboard-icon"
        alt=""
        src="./public/carbondashboard.svg"
      /> -->

      <div class="milock"></div>
      <div class="applicant-name">Applicant name</div>
      <img class="vector-icon3" alt="" src="../../../../assets/images/id icon.svg" />
      <img class="vector-icon4" alt="" src="../../../../assets/Vector (2).svg" />
    