.desktop-22-child {
  border: 0;
   padding: 0;
   background-color: var(--d9d9d9);
   top: 599px;
   left: 623px;
   border-radius: 15px;
   background: linear-gradient(#fff, #fff), #d9d9d9;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   width: 511px;
   height: 57px;
 }
   .desktop-22-child,
   .desktop-22-item
   {
     cursor: pointer;
     position: absolute;
   }

   .my-profile {  left: 0;}
   .rectangle1{
     position: relative;
     border-radius: 10px;
     width: 100%;
     height: 57px;
     object-fit: cover;
     background-color: transparent;
   }
   .desktop-22-item {border: 0;
     padding: 0;
     background-color: var(--d9d9d9);
     top: 250px;
     left: 623px;
     border-radius: 15px;
     background: linear-gradient(#fff, #fff), #d9d9d9;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     width: 511px;
     height: 57px;
   }
   .my-profile {
    position: absolute;
     top: 18px;
     left: 475px;
     font-weight: 600;
     display: inline-block;
     width: 136px;
     color: white;
   }
   .my-profile-wrapper {
     position: absolute;
     top: 32px;
     left: 340px;
     border-radius: 15px;
     background-color: #092F4F;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.05);
     border: 1px solid var(--color-black);
     box-sizing: border-box;
     width: 1066px;
     height: 70px;
     overflow: hidden;
     text-align: left;
     font-size: 28px;
   }
   .please-enter-your {
        margin: 0;
       position: absolute;
       top: 113px;
       left: 600px;
       font-size: 32px;
       font-style: italic;
       font-weight: 500;
       font-family: inherit;
       color: #5c686d;
   }
   .desktop-22-inner {
     position: absolute;
     top: 169px;
     left: 353px;
     border-radius: var(--br-xl);
     background: linear-gradient(#fff, #fff), #d9d9d9;
     box-shadow: 0 27px 27px rgba(0, 0, 0, 0.1);
     width: 1028px;
     height: 643px;
     display: none;
     opacity: 0.2;
   }
   .rectangle-button
    {
     cursor: pointer;
     border: 0;
     padding: 0;
     position: absolute;
     background-color: #D9D9D9;
   }
   .rectangle-button {
     /* background-color: var(--color-darkslategray-100); */
     top: 702px;
     left: 738px;
     border-radius: 15px;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
     width: 264px;
     height: 50px;
     background-color:#092F4F;
   }
   .submit-application {
     cursor: pointer;
     border: none;
     padding: 0;
     background-color: #344767;
     position: absolute;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
     width: 264px;
     height: 43px;
     left: 738px;
     top: 702px;
     border-radius: 15px;
     font-weight: 600;
     color:white;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif
 
   }.submit-application:hover {
       background-color:rgb(87, 194, 226);
       }
       .submit-application:active {
       background-color:#FFB800;
       box-shadow: 0 5px gainsboro;
       transform: translateY(4px);
       }
   .ellipse-icon {
     position: absolute;
       height: 5.88%;
       top: 21.3%;
       bottom: 72.82%;
       left: 829px;
       border-radius: 50%;
       max-height: 100%;
       width: 50px;
       object-fit: cover;
       background-color: #FFB800;
   }
   .b,
   .personal-information {
     position: absolute;
     text-transform: uppercase;
     display: inline-block;
   }
   .b {
     top: 195px;
     left: 849px;
     width: 9.78px;
     height: 34.38px;
     color: white;
     font-size: large;
     font-weight: 400;
   }
    
   .box {
    position: relative;
     border-radius: 20px;
     background-color:transparent;
     opacity: 0.2;
     width: 1066px;
     top: 182px;
     height: 600px;
     border-color: #344767;
    
     /* margin-right: 152px; */
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
     /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
     /* border-color: red; */
   }
     
   .personal-information {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: transparent;
     top: 265px;
     left: 738px;
     font-size:larger;
     font-weight: 600;
     font-family: var(--font-inter);
     color: var(--color-black);
     text-align: left;
     text-align: center;
   }
   .rectangle-icon {
     top: 258px;
     left: 437px;
     position: absolute;
     border: 0;
     padding: 0;
     background-color:transparent;
     border-radius: var(--br-mini);
     width: 92px;
     height: 57px;
   }
   .p-info {
     height: 42px;
     width: 46px;
     top: 260px;
     left: 465px;
     background-color: #06C819;
 
   }
   
   .rectangle-icon1 {
       top: 429px;
       left: 437px;
       position: absolute;
       /* border: 0; */
       /* padding: 0; */
       background-color:transparent;
       border-radius: var(--br-mini);
       width: 92px;
       height: 57px;
   }
   .rectangle-icon2 {
     top: 599px;
     left: 437px;
     position: absolute;
     /* border:0; */
     /* padding: 0; */
     background-color:transparent;
     border-radius: var(--br-mini);
     width: 92px;
     height: 57px;
   }
   
   
   
    .line-icon {
     position: absolute;
       top: 341px;
       left: 717px;
       width: 285px;
       height: 5px;
       background-color: #FFB800;
     }
     .line-icon2 {
     position: absolute;
     top: 517px;
     left: 738px;
     width: 285px;
     height: 5px;
     background-color:#58D4FB;
     }
   .iconsaxlineararchivetick {
     position: absolute;
     top: 264px;
     left: 1187px;
     width: 40px;
     height: 40px;
     overflow: hidden;
   }
   .vector-icon1,
   .vector-icon2,
   .vector-icon3,
   .vector-icon4 {
     position: absolute;
     height: 45.42%;
     width: 45.42%;
     top: 6.46%;
     right: 27.29%;
     bottom: 48.13%;
     left: 27.29%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
   }
   .vector-icon2,
   .vector-icon3,
   .vector-icon4 {
     height: 32.18%;
     width: 32.17%;
     top: 61.32%;
     right: 6.49%;
     bottom: 6.5%;
     left: 61.34%;
   }
   .vector-icon3,
   .vector-icon4 {
     height: 13%;
     width: 13%;
     top: 65.83%;
     right: 10.96%;
     bottom: 21.17%;
     left: 76.04%;
   }
   .vector-icon4 {
     height: 32.92%;
     width: 51.92%;
     top: 60.63%;
     right: 35.75%;
     bottom: 6.46%;
     left: 12.33%;
   }
   .iconsaxlinearuseredit {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: red;
     position: absolute;
     top: 264px;
     left: 1312px;
     width: 40px;
     height: 40px;
     overflow: hidden;
 
   }
   .desktop-22-child1,
   .p {
     position: absolute;
     left: 835px;
   }
   .desktop-22-child1 {
     top: calc(50% - 52.5px);
     /* border-radius: 15px; */
     border-radius: var(--br-mini);
     width: 50px;
     height: 50px;
     object-fit: cover;
     background-color: #06C819;
   }
   .p {
     margin: 0;
     top: 382px;
     text-transform: uppercase;
     font-weight: 800;
     display: inline-block;
     width: 49.68px;
     height: 47.5px;
     /* text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
     color: white;
   }
   .desktop-22-child2 {
     position: absolute;
     border: 0;
     padding: 0;
     background-color: var(--d9d9d9);
     top: 425px;
     left: 441px;
     border-radius: var(--br-mini);
     background: linear-gradient(#fff, #fff), #d9d9d9;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     width: 92px;
     height: 57px;
   }
   .desktop-22-child3,
   .education {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: transparent;
     position: absolute;
   }
   .desktop-22-child3 {
     top: 425px;
     left: 636px;
     border-radius: 15px;
     background: linear-gradient(#fff, #fff), #d9d9d9;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     width: 511px;
     height: 57px;
   }
   .education {
     position: absolute;
     top: 441px;
     left: 808px;
     font-size: var(--font-size-5xl);
     text-transform: uppercase;
     font-weight: 800;
     font-size: 18px;
     font-family: var(--font-inter);
     color: var(--color-black);
     text-align: center;
     display: inline-block;
   }
   .desktop-22-child4 {
     position: absolute;
     top: 512px;
     left: 738px;
     width: 285px;
     height: 5px;
     object-fit: cover;
   }
   
   .desktop-22-child5 {
     position: absolute;
     top: 533px;
     left: 835px;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     object-fit: cover;
   }
   .b1 {
     position: absolute;
     top: 545px;
     left: 853px;
     text-transform: uppercase;
     display: inline-block;
     width: 13.04px;
     height: 36.09px;
     color: white;
   }
   .desktop-22-child6 {
     position: absolute;
     top: 598px;
     left: 432px;
     border-radius: var(--br-3xs);
     width: 100px;
     height: 65px;
     object-fit: cover;
   }
   .attachments {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: transparent;
     position: absolute;
     top: 614px;
     left: 785px;
     font-size: 19px;
     text-transform: uppercase;
     font-weight: 600;
     font-family: var(--font-inter);
     color: var(--color-black);
     text-align: center;
     display: inline-block;
   }
   .vector-icon12,
   .vector-icon13 {
     position: absolute;
     height: 3.91%;
     width: 2.29%;
     top: 71.85%;
     right: 15.03%;
     bottom: 24.24%;
     left: 82.67%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
   }
   .vector-icon13 {
     height: 0.97%;
     width: 0.57%;
     top: 72.89%;
     right: 7.24%;
     bottom: 26.14%;
     left: 92.19%;
   }
   .vector-icon14,
   .vector-icon15,
   .vector-icon16,
   .vector-icon17,
   .vector-icon18 {
     position: absolute;
     top: 72.1%;
     right: 5.97%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
   }
   .vector-icon14 {
     height: 4.12%;
     width: 2.42%;
     bottom: 23.78%;
     left: 91.61%;
     cursor: pointer;
   }
   .vector-icon15,
   .vector-icon16,
   .vector-icon17,
   .vector-icon18 {
     height: 1.56%;
     width: 0.91%;
     bottom: 26.34%;
     left: 93.12%;
   }
   .vector-icon16,
   .vector-icon17,
   .vector-icon18 {
     height: 0.63%;
     width: 0.37%;
     top: 72.08%;
     right: 5.96%;
     bottom: 27.29%;
     left: 93.68%;
   }
   .vector-icon17,
   .vector-icon18 {
     height: 1.55%;
     width: 2.34%;
     top: 74.07%;
     right: 5.97%;
     bottom: 24.38%;
     left: 91.69%;
   }
   .vector-icon18 {
     height: 1.14%;
     width: 0.84%;
     top: 73.43%;
     right: 15.86%;
     bottom: 25.42%;
     left: 83.3%;
   }
   .applicant-name {
     margin: 0;
     position: absolute;
     top: 51px;
     left: 1167px;
     font-size: var(--font-size-xl);
     font-weight: 600;
     font-family: inherit;
     display: inline-block;
     width: 169px;
     color: #D9D9D9;
   }
   .vector-icon20 {
     height: 3.14%;
     width: 1.84%;
     top: 6.07%;
     right: 4.6%;
     bottom: 90.8%;
     left: 93.56%;
   }
   .g4l-navigation-panel-child {
     position: absolute;
     top: -7px;
     left: -27px;
     border-radius: var(--br-base);
     width: 304px;
     height: 800px;
   }
   .frame-child {
     position: absolute;
     top: 5.98px;
     left: 7px;
     border-radius: var(--br-8xs);
     background-color: var(--color-white);
     box-shadow: 0 5px 27px rgba(0, 0, 0, 0.1);
     width: 29px;
     height: 24.78px;
   }
   .healthiconsi-exam-multiple-ch {
     position: absolute;
     height: 81.34%;
     width: 14.85%;
     top: 8.59%;
     right: 82.08%;
     bottom: 10.07%;
     left: 3.07%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
   }
   .lms {
     position: absolute;
     top: 320px;
     left: 23px;
     border-radius: var(--br-base);
     width: 227.86px;
     height: 34.9px;
   }
   .application-progress {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: transparent;
     position: absolute;
     top: 13px;
     left: 47px;
     font-size: var(--font-size-sm);
     font-family: var(--font-inter);
     color: var(--color-slategray-200);
     text-align: left;
     display: inline-block;
   }
   .frame-item {
     position: absolute;
     top: 7px;
     left: 7px;
     border-radius: var(--br-8xs);
     background-color: var(--color-white);
     box-shadow: 0 5px 27px rgba(0, 0, 0, 0.1);
     width: 29px;
     height: 29px;
   }
   .application-progress-parent {
     position: absolute;
     top: 0;
     left: 0;
     border-radius: var(--br-5xs);
     width: 202px;
     height: 43px;
   }
   .carbondashboard-icon {
     position: absolute;
     top: 10px;
     left: 7px;
     width: 25px;
     height: 23px;
     overflow: hidden;
   }
   .leave-management {
     position: absolute;
     top: 279px;
     left: 25px;
     border-radius: var(--br-base);
     width: 227.86px;
     height: 35.02px;
     cursor: pointer;
   }
   .dashboard-child,
   .dashboard-item {
     position: absolute;
     top: 0;
     border-radius: var(--br-5xs);
     width: 202px;
     height: 43px;
   }
   .dashboard-child {
     left: 0;
     background-color: var(--color-white);
   }
   .dashboard-item {
     left: 1px;
   }
   .boot-camp,
   .dashboard-inner {
     position: absolute;
     top: 10px;
     left: 47px;
   }
   .dashboard-inner {
     top: 7px;
     left: 8px;
     border-radius: var(--br-8xs);
     background-color: var(--color-white);
     box-shadow: 0 5px 27px rgba(0, 0, 0, 0.1);
     width: 29px;
     height: 29px;
   }
   .group-icon {
     position: absolute;
     height: 62.96%;
     width: 11.97%;
     top: 27.78%;
     right: 84.4%;
     bottom: 9.26%;
     left: 3.63%;
     max-width: 100%;
     overflow: hidden;
     max-height: 100%;
   }
   .dashboard,
   .g4l-logo-icon {
     position: absolute;
     top: 355px;
     left: 28px;
     border-radius: var(--br-base);
     width: 217px;
     height: 35px;
   }
   .g4l-logo-icon {
     top: 28.14px;
     left: 64.19px;
     width: 179.46px;
     height: 104px;
   }
   .log-out {
     cursor: pointer;
     border: 0;
     padding: 0;
     background-color: transparent;
     position: absolute;
     top: 12.63px;
     left: 53.02px;
     font-size: var(--font-size-xl);
     font-family: var(--font-inter);
     color: var(--color-slategray-100);
     text-align: left;
     display: inline-block;
     width: 81.22px;
     height: 23.33px;
   }
   .frame-inner {
     position: absolute;
     top: 6.8px;
     left: 7.9px;
     border-radius: var(--br-8xs);
     background-color: var(--color-white);
     box-shadow: 0 5px 27px rgba(0, 0, 0, 0.1);
     width: 32.71px;
     height: 28.19px;
   
   }
   .log-out-parent {
     position: absolute;
     top: 636.4px;
     left: 51.89px;
     border-radius: var(--br-5xs);
     width: 227.86px;
     height: 41.79px;
     cursor: pointer;
   }
   
   .journey-to-a {
     position: absolute;
     top: 34.38%;
     left: 21.07%;
     font-size: var(--font-size-sm);
     font-family: var(--font-inter);
     color: var(--color-slategray-200);
     text-align: left;
   }
   
   .g4l-navigation-panel {
     position: absolute;
     top: 52px;
     left: 42px;
     box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
     width: 253px;
     height: 753px;
     text-align: left;
     font-size: var(--font-size-sm);
     color: var(--color-slategray-200);
   }
   .desktop-22 {
    left: 200px;
     /* background-color: var(--color-white); */
     height: 845px;
     width: 100%;
     overflow: hidden;
     text-align: center;
     font-size: var(--font-size-5xl);
     color: var(--color-white);
     font-family: var(--font-inter);
   }
   .desktop-30-child1 {
     position: absolute;
     top: 370px;
     left: 835px;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     background-color:#58D4FB;
   }.desktop-30-child29 {
     position:absolute;
     top: 533px;
     left: 835px;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     background-color:#06C819;;
   }
   
   .personal-information-valid-icon {position: absolute;
     width: 59px;
     height: 50px;
     overflow: hidden;
     left: 1197px;
     top: 264px;
     /* background-color:whitesmoke; */
     }
   .personal-information-pending-icon {
     position: absolute;
     width: 59px;
     height: 50px;
     overflow: hidden;
     left: 1280px;
     top: 264px;
   }
     .education-valid-icon {position: absolute;
     width: 50px;
     height: 50px;
     overflow: hidden;
     left: 1197px;
     top: 446px;
     background-color: whitesmoke;
     }
   .education-pending-icon {
     position: absolute;
     width: 50px;
     height: 50px;
     overflow: hidden;
     left: 1285px;
     top: 446px;
   
    }.attachments-valid-icon {position: absolute;
     width: 60px;
     height: 50px;
     overflow: hidden;
     left: 1197px;
     top: 608px;
     background-color: transparent; 
     }
   .attachments-pending-icon {
     position: absolute;
     width: 60px;
     height: 50px;
     overflow: hidden;
     left: 1280px;
     top: 608px;
   
   }
   .iconx {
     position: absolute;
     width: 40px;
     height: 40px;
     overflow: hidden;
     left: 465px;
     top: 262px;
     background-color: #FFB800;
   
   }.iconxx {
     position: absolute;
     width: 40px;
     height: 40px;
     overflow: hidden;
     left: 465px;
     top: 273px;
   }
     
   
     .side-icon {
       position: absolute;
       width: 40px;
       height: 40px;
       overflow: hidden;
       left: 465px;
       top: 269px;
       /* background-color: #06C819; */
     }
     .side-icon2 {
       position: absolute;
       width: 29px;
       height: 40px;
       overflow: hidden;
       left: 467px;
       top: 430px;
     }
     .side-icon3 {
       position: absolute;
       width: 29px;
       height: 40px;
       overflow: hidden;
       left: 466px;
       top: 439px;
       
     }
     .side-icon4 {
       position: absolute;
       width: 50px;
       height: 50px;
       overflow: hidden;
       left: 462px;
       top: 600px;
     }
     .icon8a {
       position: absolute;
       width: 29px;
       height: 40px;
       overflow: hidden;
       left: 466px;
       top: 439px;
       
     }
   .education-button {
       top: 435px;
       left: 475px;
       background-color: transparent;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
       border-radius: 15px;
       border-color: transparent;
       position: absolute;
       width: 50px;
       height: 50px;
 
     }.education-button:hover {
       background-color: #58D4FB;
     }
     .education-button:active {
       background-color: #d9d9d9;
       box-shadow: 0 5px #666;
       transform: translateY(4px);
     }
     
     .education-button img {
       width: 30px; /* Adjust the width and height as needed */
       height: 40px;
       vertical-align: middle; /* To center the icon vertically */
     }
     .attachments-button {
       top: 608px;
       left: 475px;
       background-color:transparent;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
       border-radius: 15px;
       position: absolute;
       width: 50px;
       height: 50px;
     border-color: transparent;
   }.attachments-button:hover {
     background-color: #06C819;
   }
   .attachments-button:active {
     background-color: #d9d9d9;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }
    .attachments-button img {
     width: 45px; /* Adjust the width and height as needed */
     height: 45px;
     vertical-align: middle; /* To center the icon vertically */
     margin-left: -4pt;
   }
   .personaldetails-button {
       top: 264px;
       left: 475px;
       background-color: transparent;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
       border-radius: 15px;
       position: absolute;
       width: 50px;
       height: 50px;
     border-color: transparent;
   }
   .personaldetails-button img {
     width: 60px; /* Adjust the width and height as needed */
     height: 55px;
     margin-left: -9pt;
 
     
     vertical-align: middle;
     /* background-color: green;
     left:873px;
     top: 262px; */
   }
   
   .personaldetails-button:hover {
   background-color:#FFB800;
   }
   .personaldetails-button:active {
   background-color: #d9d9d9;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
   }
 
   
 
 
 
     
 