.desktop-2-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #fff), #d9d9d9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 1024px;
  }
  .geeks4learning-logo-with-sloga-icon {
    position: absolute;
    top: calc(50% - 424px);
    left: 346px;
    width: 730px;
    height: 250px;
    object-fit: cover;
  }
  .enter-your-email,
  .forgot-your-password {
    position: absolute;
    font-weight: 300;
    text-align: center;
    display: inline-block;
  }
  .forgot-your-password {
    top: 200px;
    left: 459px;
    font-size: 48px;
    width: 521px;
  }
  .enter-your-email {
    top: 320px;
    left: 271px;
    width: 869px;
  }
  .desktop-2-item {
    position: absolute;
    top: 693px;
    left: 458px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    width: 480px;
    height: 85px;
    cursor: pointer;
  }
  .forgot-password {
    position: absolute;
    top: 714px;
    left: 551px;
    font-weight: 600;
    color: var(--color-white);
  }
  .create-one,
  .dont-have-an,
  .forgot-email-or {
    position: absolute;
    top: 841px;
    left: 498px;
    font-size: var(--font-size-13xl);
  }
  .create-one,
  .dont-have-an {
    top: 930px;
  }
  .create-one {
    left: 885px;
    text-decoration: underline;
    color: #066e7c;
  }
  .desktop-2-inner {
    position: absolute;
    top: 1024px;
    left: 0;
    background-color: #d9d9d9;
    width: 1440px;
    height: 151px;
  }
  .frame-child {
    position: absolute;
    top: 0;
    left: 95px;
    border-radius: var(--br-xl);
    width: 756px;
    height: 80px;
  }
  .iconamoonemail-duotone {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 79px;
    overflow: hidden;
  }
  .frame-item {
    position: absolute;
    top: -1.5px;
    left: 94.5px;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1px;
    height: 80px;
  }
  .myemailgmailcom {
    position: absolute;
    top: 16px;
    left: 124px;
  }
  .desktop-2,
  .vector-parent {
    position: absolute;
    overflow: hidden;
  }
  .vector-parent {
    top: 510px;
    left: 304px;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 851px;
    height: 80px;
  }
  .desktop-2 {
    top: 147px;
    left: 137px;
    border-radius: 35px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset,
      0 27px 27px rgba(0, 0, 0, 0.05);
    width: 1355px;
    height: 902px;
  }
  .facebook-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .instagram-icon,
  .twitter-icon {
    top: 0;
    width: 50px;
    object-fit: cover;
  }
  .twitter-icon {
    position: absolute;
    left: 67px;
    height: 50px;
  }
  .instagram-icon {
    left: 139px;
  }
  .frame,
  .instagram-icon,
  .linkedin-icon {
    position: absolute;
    height: 50px;
  }
  .linkedin-icon {
    top: 0;
    left: 210px;
    width: 50px;
    object-fit: cover;
  }
  .frame {
    top: 1086px;
    left: 704px;
    width: 260px;
    overflow: hidden;
  }
  .div,
  .geek4learning {
    position: absolute;
    top: 15px;
    left: 713px;
  }
  .geek4learning {
    left: 540px;
  }
  .div1,
  .powered-by-geeks4learning {
    position: absolute;
    top: 15px;
    left: 808px;
  }
  .div1 {
    left: 779px;
    display: inline-block;
    width: 23px;
  }
  .frame1,
  .terms-and-conditions {
    position: absolute;
    top: 57px;
    left: 668px;
  }
  .frame1 {
    top: 1181px;
    left: 6px;
    background-color: var(--color-darkslategray);
    width: 1630px;
    height: 113px;
    overflow: hidden;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .desktop-27 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1294px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }.desktop-2-child {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #fff), #d9d9d9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 1024px;
  }
  .geeks4learning-logo-with-sloga-icon {
    position: absolute;
    top: calc(50% - 424px);
    left: 346px;
    width: 730px;
    height: 250px;
    object-fit: cover;
  }
  .enter-your-email,
  .forgot-your-password {
    position: absolute;
    font-weight: 300;
    text-align: center;
    display: inline-block;
  }
  .forgot-your-password {
    top: 200px;
    left: 459px;
    font-size: 48px;
    width: 521px;
  }
  .enter-your-email {
    top: 320px;
    left: 271px;
    width: 869px;
  }
  .desktop-2-item {
    position: absolute;
    top: 693px;
    left: 458px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    width: 480px;
    height: 85px;
    cursor: pointer;
  }
  .forgot-password {
    position: absolute;
    top: 714px;
    left: 551px;
    font-weight: 600;
    color: var(--color-white);
  }
  .create-one,
  .dont-have-an,
  .forgot-email-or {
    position: absolute;
    top: 841px;
    left: 498px;
    font-size: var(--font-size-13xl);
  }
  .create-one,
  .dont-have-an {
    top: 930px;
  }
  .create-one {
    left: 885px;
    text-decoration: underline;
    color: #066e7c;
  }
  .desktop-2-inner {
    position: absolute;
    top: 1024px;
    left: 0;
    background-color: #d9d9d9;
    width: 1440px;
    height: 151px;
  }
  .frame-child {
    position: absolute;
    top: 0;
    left: 95px;
    border-radius: var(--br-xl);
    width: 756px;
    height: 80px;
  }
  .iconamoonemail-duotone {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 79px;
    overflow: hidden;
  }
  .frame-item {
    position: absolute;
    top: -1.5px;
    left: 94.5px;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1px;
    height: 80px;
  }
  .myemailgmailcom {
    position: absolute;
    top: 16px;
    left: 124px;
  }
  .desktop-2,
  .vector-parent {
    position: absolute;
    overflow: hidden;
  }
  .vector-parent {
    top: 510px;
    left: 304px;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 851px;
    height: 80px;
  }
  .desktop-2 {
    top: 147px;
    left: 137px;
    border-radius: 35px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset,
      0 27px 27px rgba(0, 0, 0, 0.05);
    width: 1355px;
    height: 902px;
  }
  .facebook-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .instagram-icon,
  .twitter-icon {
    top: 0;
    width: 50px;
    object-fit: cover;
  }
  .twitter-icon {
    position: absolute;
    left: 67px;
    height: 50px;
  }
  .instagram-icon {
    left: 139px;
  }
  .frame,
  .instagram-icon,
  .linkedin-icon {
    position: absolute;
    height: 50px;
  }
  .linkedin-icon {
    top: 0;
    left: 210px;
    width: 50px;
    object-fit: cover;
  }
  .frame {
    top: 1086px;
    left: 704px;
    width: 260px;
    overflow: hidden;
  }
  .div,
  .geek4learning {
    position: absolute;
    top: 15px;
    left: 713px;
  }
  .geek4learning {
    left: 540px;
  }
  .div1,
  .powered-by-geeks4learning {
    position: absolute;
    top: 15px;
    left: 808px;
  }
  .div1 {
    left: 779px;
    display: inline-block;
    width: 23px;
  }
  .frame1,
  .terms-and-conditions {
    position: absolute;
    top: 57px;
    left: 668px;
  }
  .frame1 {
    top: 1181px;
    left: 6px;
    background-color: var(--color-darkslategray);
    width: 1630px;
    height: 113px;
    overflow: hidden;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .desktop-27 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1294px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }