<div class="desktop-27">
    <div class="desktop-2">
      <div class="desktop-2-child"></div>
      <img
        class="geeks4learning-logo-with-sloga-icon"
        alt=""
        src="./public/geeks4learninglogowithslogan-1@2x.png"
      />

      <div class="forgot-your-password">Forgot your password?</div>
      <div class="enter-your-email">
        Enter your email address below and we’ll send your password reset
        instructions via email
      </div>
      <div class="desktop-2-item" id="rectangle1"></div>
      <div class="forgot-password">Forgot Password</div>
      <div class="forgot-email-or">Forgot email or password?</div>
      <div class="dont-have-an">Don’t have an account?</div>
      <i class="create-one">Create one </i>
      <div class="desktop-2-inner"></div>
      <div class="vector-parent">
        <img class="frame-child" alt="" src="./public/rectangle-1.svg" />

        <img
          class="iconamoonemail-duotone"
          alt=""
          src="./public/iconamoonemailduotone.svg"
        />

        <div class="frame-item"></div>
        <div class="myemailgmailcom">myemail@gmail.com</div>
      </div>
    </div>
    <div class="frame">
      <img class="facebook-icon" alt="" src="./public/facebook@2x.png" />

      <img class="twitter-icon" alt="" src="./public/twitter@2x.png" />

      <img class="instagram-icon" alt="" src="./public/instagram@2x.png" />

      <img class="linkedin-icon" alt="" src="./public/linkedin@2x.png" />
    </div>
    <div class="frame1">
      <div class="div">2023</div>
      <div class="geek4learning">geek4learning</div>
      <div class="powered-by-geeks4learning">
        Powered by geeks4learning Technologies
      </div>
      <div class="div1">©</div>
      <i class="terms-and-conditions"
        >Terms and conditions / Privacy policy</i
      >
    </div>
  </div>
