<ng-container *ngIf="isAdmin;else trainer">
  <app-admin-dashboard></app-admin-dashboard>
</ng-container>
<ng-template #trainer>
    <ng-container *ngIf="isTrainer;else learner">
      <app-trainer-dashboard></app-trainer-dashboard>
    </ng-container>
</ng-template>
<ng-template #learner>
  <ng-container *ngIf="isLearner;else applicant">
  <app-trainee-dashboard></app-trainee-dashboard>
  </ng-container>
</ng-template>
<ng-template #applicant>
 <app-applicant-dashboard></app-applicant-dashboard>
</ng-template>
